body {
  margin: 0px;
}

header {
  background-color: #000000;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.site-title {
  color: #ffffff;
  font-size: 40px;
  font-family: "Bangers", cursive;
  position: relative;
  top: 80px;
  left: 20px;
}

.site-login {
  position: relative;
  top: 70px;
  left: 200px;
}

.login-icon {
  width: 20%;
}

.site-message {
  font-family: "Caveat", cursive;
  font-size: 40px;
  text-align: center;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.image-picture {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-bottom: 5%;
}

.image-picture img {
  width: 50%;
  margin: auto;
}

.register-form {
  margin: 0 15%;
}

.register-element {
  display: flex;
  flex-direction: column;
}

.register-text {
  width: 100%;
  height: 75px;
  margin-bottom: 3%;
  font-size: 35px;
}

.register-button {
  width: 40%;
  height: 50px;
  font-size: 120%;
  font-family: "Bangers", cursive;
  color: #ffffff;
  background-color: blue;
  border-radius: 30px;
  border: none;
  margin: 0 auto;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 4%;
}

.memo-list {
  margin-bottom: 4%;
}

.item-list {
  list-style: none;
  margin: 0 10%;
  color: #668ad8;
  border: dashed 2px #668ad8;
  background: #f1f8ff;
  padding: 0.5em;
}

.list-item {
  display: flex;
  line-height: 1.5;
  padding: 0.5em 0;
}

.memo-date {
  margin-right: 5%;
  font-size: 100%;
}

.memo-content {
  font-size: 100%;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #a9a9a9;
}

.copy-right {
  text-align: center;
}

.btn_push::after {
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 100%;
  height: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #18548f;
  content: "";
}
.btn_push:active {
  transform: translateY(5px);
}
.btn_push:active::after {
  height: 0px;
}