<!DOCTYPE html>
<html>

<head>
    <meta httpequiv="ContentType" content="text/html;charset=utf8">
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <title>Idea Pot</title>
</head>

<body>
    <header>
        <div class="site-title">Idea Pot</div>
        <div class="site-login">
            <img src='../assets/images/login_icon.svg' class="login-icon" alt="ログインピクト">
        </div>
    </header>
    <div class="content">
        <div class="site-description">
            <div class="site-message">Let's keep ideas in the pot.</div>
            <div class="image-picture">
                <img src='../assets/images/pot.jpg' alt="鍋のピクト">
            </div>
        </div>
        <div class="register-form">
            <form action="/" method="post" class="register-element">
                <input type="text" class="register-text">
                <input type="submit" value="P U T   I N   A   P O T" class="register-button">
            </form>
        </div>
        <div class="memo-list">
            <ul>
                <li class="list-item">
                    <div class="memo-date">2022-09-07</div>
                    <div class="memo-content">テーマを寝かせる</div>
                </li>
                <li class="list-item">
                    <div class="memo-date">2022-09-09</div>
                    <div class="memo-content">月光会</div>
                </li>
                <li class="list-item">
                    <div class="memo-date">2022-09-22</div>
                    <div class="memo-content">アート</div>
                </li>
            </ul>
        </div>
    </div>
    <footer style="background-color:green; height:100px">
        <div class="copy-right">©︎ 2022 @yuyuLT</div>
    </footer>

    <p>{{ .message }}</p>
</body>

</html>